 /* YOUR CUSTOM STYLES */

 h1 {
  padding-top: 10px;
  color: white;
 }

 .title {
  color: black;
 }

 .fa {
  color: black;
  margin: 2px;
 }

 .demo-card {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 10px;
 }
